---
http_interactions:
- request:
    method: post
    uri: https://api-testnet.dock.io/dids
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '195'
      etag:
      - W/"ef-DxlgelSUpgvjqG+8zCUvJnCqGb8"
    body:
      encoding: UTF-8
      string: '{"id":"1928","data":{"did":"did:dock:5EsPrj6L3t843ZfomjTryPyk2QzPawExmDa7zUSx4jqfGRpL","hexDid":"0x7c14692e5a45bda0513cd650d5e6f1670a750c2f25d5ec12bbe77219acd6dac2","controller":"did:dock:5EsPrj6L3t843ZfomjTryPyk2QzPawExmDa7zUSx4jqfGRpL"}}'
  recorded_at: Tue, 04 Jan 2022 11:13:55 GMT
- request:
    method: post
    uri: https://api-testnet.dock.io/credentials
    body:
      encoding: UTF-8
      string: '{"persist":false,"anchor":true,"credential":{"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","context":["https://www.w3.org/2018/credentials/examples/v1"],"type":["UniversityDegreeCredential"],"subject":{"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","degree":{"type":"BachelorDegree","name":"Bachelor
        of Science and Arts"}},"issuer":"did:dock:5EsPrj6L3t843ZfomjTryPyk2QzPawExmDa7zUSx4jqfGRpL","issuanceDate":"2020-08-24T14:15:22Z"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '194'
      etag:
      - W/"31d-CRxz5hktt8fUsV9fcgt6c4mwcYE"
    body:
      encoding: UTF-8
      string: '{"@context":["https://www.w3.org/2018/credentials/v1","https://www.w3.org/2018/credentials/examples/v1"],"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","type":["VerifiableCredential","UniversityDegreeCredential"],"credentialSubject":{"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","degree":{"type":"BachelorDegree","name":"Bachelor
        of Science and Arts"}},"issuanceDate":"2020-08-24T14:15:22Z","proof":{"type":"Sr25519Signature2020","created":"2022-01-04T11:13:55Z","verificationMethod":"did:dock:5EsPrj6L3t843ZfomjTryPyk2QzPawExmDa7zUSx4jqfGRpL#keys-1","proofPurpose":"assertionMethod","proofValue":"z5y7pLBAsDtc867yB5mXyAjA8uqwkMzg47oL5bCourVBTfHgvtNmPjbhYz9tafYeZAjZqY3vW9qjUdPU4Qp9GvzmG"},"issuer":"did:dock:5EsPrj6L3t843ZfomjTryPyk2QzPawExmDa7zUSx4jqfGRpL"}'
  recorded_at: Tue, 04 Jan 2022 11:13:56 GMT
recorded_with: VCR 6.0.0
