---
http_interactions:
- request:
    method: post
    uri: https://api-testnet.dock.io/dids
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '193'
      etag:
      - W/"ef-gKVtb/jZ55tzPcwk5Og75MQKvoU"
    body:
      encoding: UTF-8
      string: '{"id":"2246","data":{"did":"did:dock:5Dp4mo6LZRRvzXSeHNH4YK1wovpk8CgPZCcxS73JJg2Ek3Pp","hexDid":"0x4d4e31ff391d871d49db07c6e5ccd5e286d0efc1ba628c188926bbf6ae5dcd4f","controller":"did:dock:5Dp4mo6LZRRvzXSeHNH4YK1wovpk8CgPZCcxS73JJg2Ek3Pp"}}'
  recorded_at: Mon, 10 Jan 2022 07:52:37 GMT
- request:
    method: post
    uri: https://api-testnet.dock.io/credentials
    body:
      encoding: UTF-8
      string: '{"persist":false,"anchor":true,"credential":{"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","context":["https://www.w3.org/2018/credentials/examples/v1"],"type":["UniversityDegreeCredential"],"subject":{"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","degree":{"type":"BachelorDegree","name":"Bachelor
        of Science and Arts"}},"issuer":"did:dock:5Dp4mo6LZRRvzXSeHNH4YK1wovpk8CgPZCcxS73JJg2Ek3Pp","issuanceDate":"2020-08-24T14:15:22Z"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '192'
      etag:
      - W/"31d-dWUiW6CjCZUOgCwnIyDXlW13GD4"
    body:
      encoding: UTF-8
      string: '{"@context":["https://www.w3.org/2018/credentials/v1","https://www.w3.org/2018/credentials/examples/v1"],"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","type":["VerifiableCredential","UniversityDegreeCredential"],"credentialSubject":{"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","degree":{"type":"BachelorDegree","name":"Bachelor
        of Science and Arts"}},"issuanceDate":"2020-08-24T14:15:22Z","proof":{"type":"Sr25519Signature2020","created":"2022-01-10T07:52:37Z","verificationMethod":"did:dock:5Dp4mo6LZRRvzXSeHNH4YK1wovpk8CgPZCcxS73JJg2Ek3Pp#keys-1","proofPurpose":"assertionMethod","proofValue":"z3D3VQmxBgPrV9eeUupx2quQNpaFvZ8HnsAzDFjKTJ8dsMnsxs4SQFT9ftnWSTz58ftwZarpocw5TQuj5i39iSE6T"},"issuer":"did:dock:5Dp4mo6LZRRvzXSeHNH4YK1wovpk8CgPZCcxS73JJg2Ek3Pp"}'
  recorded_at: Mon, 10 Jan 2022 07:52:37 GMT
recorded_with: VCR 6.0.0
