---
http_interactions:
- request:
    method: post
    uri: https://api-testnet.dock.io/dids
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '192'
      etag:
      - W/"ef-tvC1gzcMJ/aTi549Dm1Gn+Uc7Ys"
    body:
      encoding: UTF-8
      string: '{"id":"2273","data":{"did":"did:dock:5CkwYmcY1GCtzb84yobm7Nw2QNynD77w9geaRZn8ktvMPXxY","hexDid":"0x1eafe7d1592ee1ebcf5d1a5d27af5b59e213bcf45115907b3152a9a30d6742e8","controller":"did:dock:5CkwYmcY1GCtzb84yobm7Nw2QNynD77w9geaRZn8ktvMPXxY"}}'
  recorded_at: Mon, 10 Jan 2022 08:32:57 GMT
- request:
    method: post
    uri: https://api-testnet.dock.io/schemas
    body:
      encoding: UTF-8
      string: '{"$schema":"http://json-schema.org/draft-07/schema#","description":"Dock
        Schema Example","type":"object","properties":{"id":{"type":"string"},"emailAddress":{"type":"string","format":"email"},"alumniOf":{"type":"string"}},"required":["emailAddress","alumniOf"],"additionalProperties":false,"author":"did:dock:5CkwYmcY1GCtzb84yobm7Nw2QNynD77w9geaRZn8ktvMPXxY"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '191'
      etag:
      - W/"2af-hozutwRYiu8Y9I5OeouIBMmAMtA"
    body:
      encoding: UTF-8
      string: '{"id":"2274","data":{"id":"42a2b701ab51a38149f1a663948736b9d994194926d7a82c6a5a10b13de96bc1","schema":{"$schema":"http://json-schema.org/draft-07/schema#","description":"Dock
        Schema Example","type":"object","properties":{"id":{"type":"string"},"emailAddress":{"type":"string","format":"email"},"alumniOf":{"type":"string"}},"required":["emailAddress","alumniOf"],"additionalProperties":false},"author":"did:dock:5CkwYmcY1GCtzb84yobm7Nw2QNynD77w9geaRZn8ktvMPXxY","signature":{"Sr25519":"0x9cb0c60a28e81c52368a3326350d83063f853e17e1827976831903bd982b8b5722a05f06d7c267a47b496d1f2efe4afbc66f95d809b3de8da568c025289ca88c"},"uri":"blob:dock:5Da5MUzAxjmvNMhvjkw2AnCFGZFFsXpY8Ls3haA9WkeGKxbH"}}'
  recorded_at: Mon, 10 Jan 2022 08:32:57 GMT
recorded_with: VCR 6.0.0
