---
http_interactions:
- request:
    method: get
    uri: https://api-testnet.dock.io/profiles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '190'
      etag:
      - W/"a3-fz76BD9mEnAL/LQYQjlAnRLkQsk"
    body:
      encoding: UTF-8
      string: '[{"name":"John Doe","logo":"https://pictures.com/logo.jpg","did":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","created":"2022-01-10T08:07:09.533Z"}]'
  recorded_at: Mon, 10 Jan 2022 08:07:09 GMT
- request:
    method: get
    uri: https://api-testnet.dock.io/profiles/did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '189'
      etag:
      - W/"a1-pTvfPC0qqqTqEfCjQmOBGppUlKA"
    body:
      encoding: UTF-8
      string: '{"name":"John Doe","logo":"https://pictures.com/logo.jpg","did":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","created":"2022-01-10T08:07:09.533Z"}'
  recorded_at: Mon, 10 Jan 2022 08:07:09 GMT
recorded_with: VCR 6.0.0
