---
http_interactions:
- request:
    method: get
    uri: https://api-testnet.dock.io/profiles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '189'
      etag:
      - W/"a3-u189dEcOC8Bq0mG50QEU0P5jRVI"
    body:
      encoding: UTF-8
      string: '[{"name":"John Doe","logo":"https://pictures.com/logo.jpg","did":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","created":"2022-01-04T11:29:30.068Z"}]'
  recorded_at: Tue, 04 Jan 2022 11:29:30 GMT
- request:
    method: get
    uri: https://api-testnet.dock.io/profiles/did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '188'
      etag:
      - W/"a1-rkF7ItmoMA0FMegyYtCUz9l9G+Q"
    body:
      encoding: UTF-8
      string: '{"name":"John Doe","logo":"https://pictures.com/logo.jpg","did":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","created":"2022-01-04T11:29:30.068Z"}'
  recorded_at: Tue, 04 Jan 2022 11:29:30 GMT
recorded_with: VCR 6.0.0
