---
http_interactions:
- request:
    method: post
    uri: https://api-testnet.dock.io/dids
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '198'
      etag:
      - W/"ef-H/bfp/4jfSDUe4tFOnxESPie/hk"
    body:
      encoding: UTF-8
      string: '{"id":"1947","data":{"did":"did:dock:5FKNzwPHWSx43s3tegfksayUVBeECfVVKFwwymUSRMsRT25R","hexDid":"0x8fe5e6d57993939cd5def8c68e6aed1b37c8a80315240d0a41ef5606248cd5ba","controller":"did:dock:5FKNzwPHWSx43s3tegfksayUVBeECfVVKFwwymUSRMsRT25R"}}'
  recorded_at: Tue, 04 Jan 2022 11:49:05 GMT
- request:
    method: post
    uri: https://api-testnet.dock.io/registries
    body:
      encoding: UTF-8
      string: '{"addOnly":false,"policy":["did:dock:5FKNzwPHWSx43s3tegfksayUVBeECfVVKFwwymUSRMsRT25R"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '197'
      etag:
      - W/"cf-Xal7XEx9gi+Ba50kfqxeBu0e36c"
    body:
      encoding: UTF-8
      string: '{"id":"1948","data":{"id":"f8667a1043dd7ebdd05ab97b3c14c07a5ab737d252f37a18f0792a53249cbdbb","policy":{"type":"OneOf","policy":["did:dock:5FKNzwPHWSx43s3tegfksayUVBeECfVVKFwwymUSRMsRT25R"],"addOnly":false}}}'
  recorded_at: Tue, 04 Jan 2022 11:49:06 GMT
recorded_with: VCR 6.0.0
