---
http_interactions:
- request:
    method: post
    uri: https://api-testnet.dock.io/dids
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '198'
      etag:
      - W/"ef-21+hjMVBShIn6RKevnTFPoJZveY"
    body:
      encoding: UTF-8
      string: '{"id":"2268","data":{"did":"did:dock:5E1uGFtwtBVrTGBk9BYbmy6CEEbFzMX9KDWMzQT8t97cyKeY","hexDid":"0x5655210baf4dd60d913dff442c70968d16813f1ea417f02c460cc354df95ba40","controller":"did:dock:5E1uGFtwtBVrTGBk9BYbmy6CEEbFzMX9KDWMzQT8t97cyKeY"}}'
  recorded_at: Mon, 10 Jan 2022 08:27:46 GMT
- request:
    method: post
    uri: https://api-testnet.dock.io/registries
    body:
      encoding: UTF-8
      string: '{"addOnly":false,"policy":["did:dock:5E1uGFtwtBVrTGBk9BYbmy6CEEbFzMX9KDWMzQT8t97cyKeY"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '197'
      etag:
      - W/"cf-uatN3W8v0yRITOQu6U20yeqs6N4"
    body:
      encoding: UTF-8
      string: '{"id":"2269","data":{"id":"f225a013dba27ea00e2b7c8c2ad3b455b9dba4466bba906a3573c0e465d5fae8","policy":{"type":"OneOf","policy":["did:dock:5E1uGFtwtBVrTGBk9BYbmy6CEEbFzMX9KDWMzQT8t97cyKeY"],"addOnly":false}}}'
  recorded_at: Mon, 10 Jan 2022 08:27:46 GMT
recorded_with: VCR 6.0.0
