---
http_interactions:
- request:
    method: post
    uri: https://api-testnet.dock.io/dids
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '195'
      etag:
      - W/"ef-hdAu/M73XR7OjhfwHPARfYPFSpU"
    body:
      encoding: UTF-8
      string: '{"id":"2257","data":{"did":"did:dock:5D7ZxiDomhJrtchwSdJor29PNhoqbTNGGP1mASWFq3XAps3S","hexDid":"0x2e6b63d619be89503f62fa8f2da3036d004c77550a201c3b3e089b25a5a371cd","controller":"did:dock:5D7ZxiDomhJrtchwSdJor29PNhoqbTNGGP1mASWFq3XAps3S"}}'
  recorded_at: Mon, 10 Jan 2022 08:07:08 GMT
- request:
    method: post
    uri: https://api-testnet.dock.io/credentials
    body:
      encoding: UTF-8
      string: '{"persist":false,"anchor":true,"credential":{"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","context":["https://www.w3.org/2018/credentials/examples/v1"],"type":["UniversityDegreeCredential"],"subject":{"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","degree":{"type":"BachelorDegree","name":"Bachelor
        of Science and Arts"}},"issuer":"did:dock:5D7ZxiDomhJrtchwSdJor29PNhoqbTNGGP1mASWFq3XAps3S","issuanceDate":"2020-08-24T14:15:22Z"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '194'
      etag:
      - W/"31c-loI3KrhRY0XzJRDijFJSYOhtoag"
    body:
      encoding: UTF-8
      string: '{"@context":["https://www.w3.org/2018/credentials/v1","https://www.w3.org/2018/credentials/examples/v1"],"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","type":["VerifiableCredential","UniversityDegreeCredential"],"credentialSubject":{"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","degree":{"type":"BachelorDegree","name":"Bachelor
        of Science and Arts"}},"issuanceDate":"2020-08-24T14:15:22Z","proof":{"type":"Sr25519Signature2020","created":"2022-01-10T08:07:08Z","verificationMethod":"did:dock:5D7ZxiDomhJrtchwSdJor29PNhoqbTNGGP1mASWFq3XAps3S#keys-1","proofPurpose":"assertionMethod","proofValue":"zgrXvb3MjbuVRXScuUVp8gR2vxphQ1zAX8fDg16KvZr5HnoJvPXbc92YHWzjiAy9FQdm6NvKPseH26E85dDjzgqX"},"issuer":"did:dock:5D7ZxiDomhJrtchwSdJor29PNhoqbTNGGP1mASWFq3XAps3S"}'
  recorded_at: Mon, 10 Jan 2022 08:07:08 GMT
- request:
    method: post
    uri: https://api-testnet.dock.io/presentations
    body:
      encoding: UTF-8
      string: '{"holder":"did:dock:5D7ZxiDomhJrtchwSdJor29PNhoqbTNGGP1mASWFq3XAps3S","credentials":[{"@context":["https://www.w3.org/2018/credentials/v1","https://www.w3.org/2018/credentials/examples/v1"],"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","type":["VerifiableCredential","UniversityDegreeCredential"],"credentialSubject":{"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","degree":{"type":"BachelorDegree","name":"Bachelor
        of Science and Arts"}},"issuanceDate":"2020-08-24T14:15:22Z","proof":{"type":"Sr25519Signature2020","created":"2022-01-10T08:07:08Z","verificationMethod":"did:dock:5D7ZxiDomhJrtchwSdJor29PNhoqbTNGGP1mASWFq3XAps3S#keys-1","proofPurpose":"assertionMethod","proofValue":"zgrXvb3MjbuVRXScuUVp8gR2vxphQ1zAX8fDg16KvZr5HnoJvPXbc92YHWzjiAy9FQdm6NvKPseH26E85dDjzgqX"},"issuer":"did:dock:5D7ZxiDomhJrtchwSdJor29PNhoqbTNGGP1mASWFq3XAps3S"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '193'
      etag:
      - W/"538-G/qJfSFEzlcyI6ag/ojJTZIM22o"
    body:
      encoding: UTF-8
      string: '{"@context":["https://www.w3.org/2018/credentials/v1"],"verifiableCredential":[{"@context":["https://www.w3.org/2018/credentials/v1","https://www.w3.org/2018/credentials/examples/v1"],"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","type":["VerifiableCredential","UniversityDegreeCredential"],"credentialSubject":{"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","degree":{"type":"BachelorDegree","name":"Bachelor
        of Science and Arts"}},"issuanceDate":"2020-08-24T14:15:22Z","proof":{"type":"Sr25519Signature2020","created":"2022-01-10T08:07:08Z","verificationMethod":"did:dock:5D7ZxiDomhJrtchwSdJor29PNhoqbTNGGP1mASWFq3XAps3S#keys-1","proofPurpose":"assertionMethod","proofValue":"zgrXvb3MjbuVRXScuUVp8gR2vxphQ1zAX8fDg16KvZr5HnoJvPXbc92YHWzjiAy9FQdm6NvKPseH26E85dDjzgqX"},"issuer":"did:dock:5D7ZxiDomhJrtchwSdJor29PNhoqbTNGGP1mASWFq3XAps3S"}],"id":"https://creds.dock.io/presentation/a394a077aca60c1cdf1d4cdadcf83e69","type":["VerifiablePresentation"],"proof":{"type":"Sr25519Signature2020","created":"2022-01-10T08:07:09Z","verificationMethod":"did:dock:5D7ZxiDomhJrtchwSdJor29PNhoqbTNGGP1mASWFq3XAps3S#keys-1","proofPurpose":"authentication","challenge":"0xe780223722f1b9b0","domain":"dock.io","proofValue":"z4LGpiwQPS13yDZU1Vd5wJCXGZ1bADUtjytT43rU1sw5tUcnHN39jQZsPXNfAtgc5z6K2Fe1V8fmiFzKMipPqSZ5u"}}'
  recorded_at: Mon, 10 Jan 2022 08:07:09 GMT
recorded_with: VCR 6.0.0
