---
http_interactions:
- request:
    method: get
    uri: https://api-testnet.dock.io/schemas
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '190'
      etag:
      - W/"bf5-CNKV9BjDfFx0o/hafyZqljEzS/U"
    body:
      encoding: UTF-8
      string: '[{"id":"e7e7bca9f2d2f9131161bac4fa7ce1574dc63182f83d56f79c24cbed66e660be","schema":{"$schema":"http://json-schema.org/draft-07/schema#","description":"Dock
        Schema Example","type":"object","properties":{"id":{"type":"string"},"emailAddress":{"type":"string","format":"email"},"alumniOf":{"type":"string"}},"required":["emailAddress","alumniOf"],"additionalProperties":false},"author":"did:dock:5CFTYCb2WDNpfj8P9rLrZpt86srAmAEedRVjUtp2JaEgMyXw","uri":"blob:dock:5HJmkxotcpVn4v2P1j9PTxTYRnQx6cXxUn5MngnuxACWkVH4"},{"id":"be75a60a33f12b603a1aabd153c5b7454d8ee2a3f4bc948c072a4fa5e5326860","schema":{"$schema":"http://json-schema.org/draft-07/schema#","description":"Dock
        Schema Example","type":"object","properties":{"id":{"type":"string"},"emailAddress":{"type":"string","format":"email"},"alumniOf":{"type":"string"}},"required":["emailAddress","alumniOf"],"additionalProperties[...]
- request:
    method: get
    uri: https://api-testnet.dock.io/schemas/e7e7bca9f2d2f9131161bac4fa7ce1574dc63182f83d56f79c24cbed66e660be
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '189'
      etag:
      - W/"1fd-SLGO2f+pKzh+317XLQmOiPIW4ys"
    body:
      encoding: UTF-8
      string: '{"id":"e7e7bca9f2d2f9131161bac4fa7ce1574dc63182f83d56f79c24cbed66e660be","schema":{"$schema":"http://json-schema.org/draft-07/schema#","description":"Dock
        Schema Example","type":"object","properties":{"id":{"type":"string"},"emailAddress":{"type":"string","format":"email"},"alumniOf":{"type":"string"}},"required":["emailAddress","alumniOf"],"additionalProperties":false},"author":"did:dock:5CFTYCb2WDNpfj8P9rLrZpt86srAmAEedRVjUtp2JaEgMyXw","uri":"blob:dock:5HJmkxotcpVn4v2P1j9PTxTYRnQx6cXxUn5MngnuxACWkVH4"}'
  recorded_at: Tue, 04 Jan 2022 11:54:17 GMT
recorded_with: VCR 6.0.0
