---
http_interactions:
- request:
    method: post
    uri: https://api-testnet.dock.io/dids
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '198'
      etag:
      - W/"ef-Uhw/Mrwd+p3A+uPRn1Z+xNfiEV4"
    body:
      encoding: UTF-8
      string: '{"id":"2255","data":{"did":"did:dock:5HYLrvxihRnAjj6GbPDP1XQUN31Ya8XE6pNu2gwmCLNo5xAQ","hexDid":"0xf2415c8c54e949cb6130c5699ce4454ad0855c28dec4ebc2ef70e120ec647328","controller":"did:dock:5HYLrvxihRnAjj6GbPDP1XQUN31Ya8XE6pNu2gwmCLNo5xAQ"}}'
  recorded_at: Mon, 10 Jan 2022 08:07:06 GMT
- request:
    method: post
    uri: https://api-testnet.dock.io/registries
    body:
      encoding: UTF-8
      string: '{"addOnly":false,"policy":["did:dock:5HYLrvxihRnAjj6GbPDP1XQUN31Ya8XE6pNu2gwmCLNo5xAQ"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '197'
      etag:
      - W/"cf-Qf4QQk0L8TILpjUL6O1U4O2Bp60"
    body:
      encoding: UTF-8
      string: '{"id":"2256","data":{"id":"3eb17586b6dfb71cb52c728eaa4eb03274280e1e27e7e7133cdd8ad69926753f","policy":{"type":"OneOf","policy":["did:dock:5HYLrvxihRnAjj6GbPDP1XQUN31Ya8XE6pNu2gwmCLNo5xAQ"],"addOnly":false}}}'
  recorded_at: Mon, 10 Jan 2022 08:07:07 GMT
recorded_with: VCR 6.0.0
