---
http_interactions:
- request:
    method: post
    uri: https://api-testnet.dock.io/dids
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '197'
      etag:
      - W/"ef-Nv8OYs1dwvO2yDcdZMGRShDre4g"
    body:
      encoding: UTF-8
      string: '{"id":"1937","data":{"did":"did:dock:5Ft9QT3xxY6Dor8HHBgRuEzGwLckeYPnyDVSsZAJQHTJT7uE","hexDid":"0xa8e33c8723343b9aceb2eaffaebb49c94a78bbb9ae3ec55aa80b54bb1a534bd7","controller":"did:dock:5Ft9QT3xxY6Dor8HHBgRuEzGwLckeYPnyDVSsZAJQHTJT7uE"}}'
  recorded_at: Tue, 04 Jan 2022 11:29:27 GMT
- request:
    method: post
    uri: https://api-testnet.dock.io/registries
    body:
      encoding: UTF-8
      string: '{"addOnly":false,"policy":["did:dock:5Ft9QT3xxY6Dor8HHBgRuEzGwLckeYPnyDVSsZAJQHTJT7uE"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '196'
      etag:
      - W/"cf-Bx+Hqr9j6yTFd6Z+JoUHUJYWSSo"
    body:
      encoding: UTF-8
      string: '{"id":"1938","data":{"id":"f3e338c1f708a10e8d61835c5c5ebbfd8b56c5de81b812a6eb4f45b7db08116e","policy":{"type":"OneOf","policy":["did:dock:5Ft9QT3xxY6Dor8HHBgRuEzGwLckeYPnyDVSsZAJQHTJT7uE"],"addOnly":false}}}'
  recorded_at: Tue, 04 Jan 2022 11:29:27 GMT
recorded_with: VCR 6.0.0
