---
http_interactions:
- request:
    method: post
    uri: https://api-testnet.dock.io/registries/bc7ca74211bb82f1dc94dbadc969b41fea8b86dcfdd88d0db6da32e433edb31f
    body:
      encoding: UTF-8
      string: '{"action":"revoke","credentialIds":["did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '196'
      etag:
      - W/"69-GRbFLCKJdmENSC23ifkjRn4BeQU"
    body:
      encoding: UTF-8
      string: '{"id":"1701","data":{"revokeIds":["0x1177e6719ccb5fa4e4def4a7c7e574ebeb76bc91e55e926afc743b8b77eaf26f"]}}'
  recorded_at: Mon, 03 Jan 2022 22:24:33 GMT
- request:
    method: get
    uri: https://api-testnet.dock.io/revocationStatus/bc7ca74211bb82f1dc94dbadc969b41fea8b86dcfdd88d0db6da32e433edb31f/0x1177e6719ccb5fa4e4def4a7c7e574ebeb76bc91e55e926afc743b8b77eaf26f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '195'
      etag:
      - W/"e-mje7rB7UlYZf4YqQ7pu+7K79+y8"
    body:
      encoding: UTF-8
      string: '{"type":false}'
  recorded_at: Mon, 03 Jan 2022 22:24:34 GMT
- request:
    method: post
    uri: https://api-testnet.dock.io/registries
    body:
      encoding: UTF-8
      string: '{"addOnly":false,"policy":["did:dock:5EmmENs5MUDbh53fme6SXxdDPXPpujmbVYDnrkYUfuh7PXns"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '194'
      etag:
      - W/"cf-3geKElhhpHlJgw1Ndov2aphqyZM"
    body:
      encoding: UTF-8
      string: '{"id":"1812","data":{"id":"27d8dfd2f40a97332f779115bee9d282f95fd16f71f63315340f05b5820f23ed","policy":{"type":"OneOf","policy":["did:dock:5EmmENs5MUDbh53fme6SXxdDPXPpujmbVYDnrkYUfuh7PXns"],"addOnly":false}}}'
  recorded_at: Tue, 04 Jan 2022 08:32:05 GMT
[...]
- request:
    method: post
    uri: https://api-testnet.dock.io/dids
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '198'
      etag:
      - W/"ef-YNcz0ncnmRTACdlYhKTy9ULKNhs"
    body:
      encoding: UTF-8
      string: '{"id":"2021","data":{"did":"did:dock:5FBrtawRpMHjhRwg1eEHpattqXR39DF5Sqe64pZXE7XARLXt","hexDid":"0x8a29d37f81db49c289294382509b6f62cf1f474afdcf7b7af6148ece6eb3e151","controller":"did:dock:5FBrtawRpMHjhRwg1eEHpattqXR39DF5Sqe64pZXE7XARLXt"}}'
  recorded_at: Tue, 04 Jan 2022 14:26:12 GMT
[...]
- request:
    method: post
    uri: https://api-testnet.dock.io/credentials
    body:
      encoding: UTF-8
      string: '{"persist":false,"anchor":true,"credential":{"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","context":["https://www.w3.org/2018/credentials/examples/v1"],"type":["UniversityDegreeCredential"],"subject":{"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","degree":{"type":"BachelorDegree","name":"Bachelor
        of Science and Arts"}},"issuer":"did:dock:5DfDK3vRDNcH53o8A5QgrGws8jdQnqDocQyndo77EJQcYXRg","issuanceDate":"2020-08-24T14:15:22Z"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '196'
      etag:
      - W/"31c-pqposuGAzfQtjB1YfhlAvxgH+z4"
    body:
      encoding: UTF-8
      string: '{"@context":["https://www.w3.org/2018/credentials/v1","https://www.w3.org/2018/credentials/examples/v1"],"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","type":["VerifiableCredential","UniversityDegreeCredential"],"credentialSubject":{"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","degree":{"type":"BachelorDegree","name":"Bachelor
        of Science and Arts"}},"issuanceDate":"2020-08-24T14:15:22Z","proof":{"type":"Sr25519Signature2020","created":"2022-01-10T08:32:55Z","verificationMethod":"did:dock:5DfDK3vRDNcH53o8A5QgrGws8jdQnqDocQyndo77EJQcYXRg#keys-1","proofPurpose":"assertionMethod","proofValue":"zMxbxxqSU1rBqm4dUm6HmohYC4YHKj5ngd3zg7wPQUAJyRJZZZUSfDmaYLitkZibMQgjamBtVmhgX5HKfwmSrc79"},"issuer":"did:dock:5DfDK3vRDNcH53o8A5QgrGws8jdQnqDocQyndo77EJQcYXRg"}'
  recorded_at: Mon, 10 Jan 2022 08:32:55 GMT
[...]
- request:
    method: get
    uri: https://api-testnet.dock.io/revocationStatus/f225a013dba27ea00e2b7c8c2ad3b455b9dba4466bba906a3573c0e465d5fae8/0x1177e6719ccb5fa4e4def4a7c7e574ebeb76bc91e55e926afc743b8b77eaf26f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '194'
      etag:
      - W/"e-mje7rB7UlYZf4YqQ7pu+7K79+y8"
    body:
      encoding: UTF-8
      string: '{"type":false}'
  recorded_at: Mon, 10 Jan 2022 08:32:55 GMT
recorded_with: VCR 6.0.0
