---
http_interactions:
- request:
    method: get
    uri: https://api-testnet.dock.io/profiles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '187'
      etag:
      - W/"a3-u189dEcOC8Bq0mG50QEU0P5jRVI"
    body:
      encoding: UTF-8
      string: '[{"name":"John Doe","logo":"https://pictures.com/logo.jpg","did":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","created":"2022-01-04T11:29:30.068Z"}]'
  recorded_at: Tue, 04 Jan 2022 11:29:30 GMT
- request:
    method: patch
    uri: https://api-testnet.dock.io/profiles/did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA
    body:
      encoding: UTF-8
      string: '{"did":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","name":"John
        Doe","logo":"https://pictures.com/logo.jpg"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '186'
      etag:
      - W/"7c-VYSZDUCHZDCJ8IjI/320TOp6xXs"
    body:
      encoding: UTF-8
      string: '{"did":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","name":"John
        Doe","logo":"https://pictures.com/logo.jpg"}'
  recorded_at: Tue, 04 Jan 2022 11:29:30 GMT
recorded_with: VCR 6.0.0
