---
http_interactions:
- request:
    method: get
    uri: https://api-testnet.dock.io/dids
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '197'
      etag:
      - W/"87fe-j4Ou24JIAHwQmBkigJ7qXmWPo6Q"
    body:
      encoding: UTF-8
      string: '[{"@context":"https://www.w3.org/ns/did/v1","id":"did:dock:5GSzURAwBBkKfpeZN8pcvAsL5qUXKhUzxmvCcsmKYvDEt3Nb","authentication":["did:dock:5GSzURAwBBkKfpeZN8pcvAsL5qUXKhUzxmvCcsmKYvDEt3Nb#keys-1"],"assertionMethod":["did:dock:5GSzURAwBBkKfpeZN8pcvAsL5qUXKhUzxmvCcsmKYvDEt3Nb#keys-1"],"publicKey":[{"id":"did:dock:5GSzURAwBBkKfpeZN8pcvAsL5qUXKhUzxmvCcsmKYvDEt3Nb#keys-1","type":"Sr25519VerificationKey2020","controller":"did:dock:5GSzURAwBBkKfpeZN8pcvAsL5qUXKhUzxmvCcsmKYvDEt3Nb","publicKeyBase58":"9eu2Ayccg8SbBAH362BHXRk16AyURWnqq5yW5koBib4h"}]},{"@context":"https://www.w3.org/ns/did/v1","id":"did:dock:5GAj5EGkijBA4HjbDxtx53m78RDm3cYYTQnd7T5J35i9pj4K","authentication":["did:dock:5GAj5EGkijBA4HjbDxtx53m78RDm3cYYTQnd7T5J35i9pj4K#keys-1"],"assertionMethod":["did:dock:5GAj5EGkijBA4HjbDxtx53m78RDm3cYYTQnd7T5J35i9pj4K#keys-1"],"publicKey":[{"id":"did:dock:5GAj5EGkijBA4HjbDxtx53m78RDm3cYYTQnd7T5J35i9pj4K#keys-1","type":"Sr25519VerificationKey2020","controller":"did:dock:5GAj5EGkijBA4HjbDxtx53m7[...]
