---
http_interactions:
- request:
    method: get
    uri: https://api-testnet.dock.io/dids
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '197'
      etag:
      - W/"87fe-CxQFp3EOBaAux4dcfWltmu7OuuY"
    body:
      encoding: UTF-8
      string: '[{"@context":"https://www.w3.org/ns/did/v1","id":"did:dock:5FZY3bBkXh41vDRWexa67oFFA7EaPurmtLYYnqn4h6uPthkK","authentication":["did:dock:5FZY3bBkXh41vDRWexa67oFFA7EaPurmtLYYnqn4h6uPthkK#keys-1"],"assertionMethod":["did:dock:5FZY3bBkXh41vDRWexa67oFFA7EaPurmtLYYnqn4h6uPthkK#keys-1"],"publicKey":[{"id":"did:dock:5FZY3bBkXh41vDRWexa67oFFA7EaPurmtLYYnqn4h6uPthkK#keys-1","type":"Ed25519VerificationKey2018","controller":"did:dock:5FZY3bBkXh41vDRWexa67oFFA7EaPurmtLYYnqn4h6uPthkK","publicKeyBase58":"FrdfoJCGJmaTYKGCy5DNrvbmHPeBz3zyCHeGbTMTqrdM"}]},{"@context":"https://www.w3.org/ns/did/v1","id":"did:dock:5Fmf9EYdTax7A25uT5Vg8WT6AtYSsmw91ckoRQMPN6bWNmCm","authentication":["did:dock:5Fmf9EYdTax7A25uT5Vg8WT6AtYSsmw91ckoRQMPN6bWNmCm#keys-1"],"assertionMethod":["did:dock:5Fmf9EYdTax7A25uT5Vg8WT6AtYSsmw91ckoRQMPN6bWNmCm#keys-1"],"publicKey":[{"id":"did:dock:5Fmf9EYdTax7A25uT5Vg8WT6AtYSsmw91ckoRQMPN6bWNmCm#keys-1","type":"Sr25519VerificationKey2020","controller":"did:dock:5Fmf9EYdTax7A25uT5Vg8WT6[...]
