---
http_interactions:
- request:
    method: post
    uri: https://api-testnet.dock.io/dids
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '185'
      etag:
      - W/"ef-qoplKIhPXtMW6Rg03xUmlUN92/g"
    body:
      encoding: UTF-8
      string: '{"id":"2252","data":{"did":"did:dock:5HVYNVaXp1CkGgFWU7vj6q3kXQCD8uMGLeAPrE83boPqZnfA","hexDid":"0xf01e5ed2213a987379378185194299487ed9ad930e3013672958a032770606bc","controller":"did:dock:5HVYNVaXp1CkGgFWU7vj6q3kXQCD8uMGLeAPrE83boPqZnfA"}}'
  recorded_at: Mon, 10 Jan 2022 07:52:42 GMT
recorded_with: VCR 6.0.0
