---
http_interactions:
- request:
    method: post
    uri: https://api-testnet.dock.io/anchors
    body:
      encoding: UTF-8
      string: '[{"test":"2022-01-10 08:48:27 +0100"}]'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '199'
      etag:
      - W/"6e-xyj1tqp8EGbphZisVbnkLIjKYZs"
    body:
      encoding: UTF-8
      string: '{"id":"2245","data":{"root":"0xcea327f37b26a89aa15626bd41fd8b1c370671c28933c932fbe9e053cd354297","proofs":[]}}'
  recorded_at: Mon, 10 Jan 2022 07:48:28 GMT
recorded_with: VCR 6.0.0
