---
http_interactions:
- request:
    method: post
    uri: https://api-testnet.dock.io/anchors
    body:
      encoding: UTF-8
      string: '[{"test":"2022-01-04 12:08:45 +0100"}]'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '195'
      etag:
      - W/"6e-vJGkYtA2t6T5E/uqP3PKJT4F5+k"
    body:
      encoding: UTF-8
      string: '{"id":"1927","data":{"root":"0x3c95f7c270848ab70f6082bc4f7b92cbf5da4c69868757c8501e9a4eb5b9e943","proofs":[]}}'
  recorded_at: Tue, 04 Jan 2022 11:08:46 GMT
recorded_with: VCR 6.0.0
