---
http_interactions:
- request:
    method: post
    uri: https://api-testnet.dock.io/dids
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '184'
      etag:
      - W/"ef-WQJSzC8t9yC/Jg0HpW4XE7w7k+o"
    body:
      encoding: UTF-8
      string: '{"id":"2259","data":{"did":"did:dock:5C7rgavpHTgEuj3J9fhnHMBLT2TQpWVKFpYemKaPewauQ2qb","hexDid":"0x0267729c91298f3997738bc5599dabc96f4274dfcc52925fc33dfdbb2f8107fa","controller":"did:dock:5C7rgavpHTgEuj3J9fhnHMBLT2TQpWVKFpYemKaPewauQ2qb"}}'
  recorded_at: Mon, 10 Jan 2022 08:07:11 GMT
- request:
    method: post
    uri: https://api-testnet.dock.io/registries
    body:
      encoding: UTF-8
      string: '{"addOnly":false,"policy":["did:dock:5C7rgavpHTgEuj3J9fhnHMBLT2TQpWVKFpYemKaPewauQ2qb"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '183'
      etag:
      - W/"cf-+fuOMXr7h2v5IFdjY/irJxSeKPE"
    body:
      encoding: UTF-8
      string: '{"id":"2260","data":{"id":"b1bcce7dcf53a23f35b12520ceba2da80903ca837c56d5157c02ea10de6f248b","policy":{"type":"OneOf","policy":["did:dock:5C7rgavpHTgEuj3J9fhnHMBLT2TQpWVKFpYemKaPewauQ2qb"],"addOnly":false}}}'
  recorded_at: Mon, 10 Jan 2022 08:07:12 GMT
recorded_with: VCR 6.0.0
