---
http_interactions:
- request:
    method: post
    uri: https://api-testnet.dock.io/dids
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '191'
      etag:
      - W/"ef-pr1fdY99A/c9FWqNUxKKYXnk8yk"
    body:
      encoding: UTF-8
      string: '{"id":"2248","data":{"did":"did:dock:5F7SfyS2Ax2E69k6KgAunraGcyGGaYBLnEKQB7yHKwfkZFTb","hexDid":"0x86cb524333b4f8a9bfea70cd4a3df95a00e0e25a6c9d219945757e995974bb51","controller":"did:dock:5F7SfyS2Ax2E69k6KgAunraGcyGGaYBLnEKQB7yHKwfkZFTb"}}'
  recorded_at: Mon, 10 Jan 2022 07:52:39 GMT
- request:
    method: post
    uri: https://api-testnet.dock.io/credentials
    body:
      encoding: UTF-8
      string: '{"persist":false,"anchor":true,"credential":{"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","context":["https://www.w3.org/2018/credentials/examples/v1"],"type":["UniversityDegreeCredential"],"subject":{"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","degree":{"type":"BachelorDegree","name":"Bachelor
        of Science and Arts"}},"issuer":"did:dock:5F7SfyS2Ax2E69k6KgAunraGcyGGaYBLnEKQB7yHKwfkZFTb","issuanceDate":"2020-08-24T14:15:22Z"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '190'
      etag:
      - W/"31c-NKavg65rNB/zjkpJPK3fKjW2GoY"
    body:
      encoding: UTF-8
      string: '{"@context":["https://www.w3.org/2018/credentials/v1","https://www.w3.org/2018/credentials/examples/v1"],"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","type":["VerifiableCredential","UniversityDegreeCredential"],"credentialSubject":{"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","degree":{"type":"BachelorDegree","name":"Bachelor
        of Science and Arts"}},"issuanceDate":"2020-08-24T14:15:22Z","proof":{"type":"Sr25519Signature2020","created":"2022-01-10T07:52:39Z","verificationMethod":"did:dock:5F7SfyS2Ax2E69k6KgAunraGcyGGaYBLnEKQB7yHKwfkZFTb#keys-1","proofPurpose":"assertionMethod","proofValue":"zcoFMQHfeDA2u5DgtxGTxz4ci7pmgm78SzGePQosfdML9tnfD3njQFUTtBb8QYeHy1qYFEpoEESnW5vERmyTzKsk"},"issuer":"did:dock:5F7SfyS2Ax2E69k6KgAunraGcyGGaYBLnEKQB7yHKwfkZFTb"}'
  recorded_at: Mon, 10 Jan 2022 07:52:39 GMT
- request:
    method: get
    uri: https://api-testnet.dock.io/credentials/did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '189'
      etag:
      - W/"107-VsciWlftCWK/4IwGt0+stNtaiV4"
    body:
      encoding: UTF-8
      string: '{"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","byteSize":797,"issuerKey":"did:dock:5Dp4mo6LZRRvzXSeHNH4YK1wovpk8CgPZCcxS73JJg2Ek3Pp#5DU8GknZddX1DbPTyZ5TkNRfU5kYmNF2nNQR3vfnYqvCTYQV                      ","createdAt":"2022-01-10T07:52:37.972Z"}'
  recorded_at: Mon, 10 Jan 2022 07:52:39 GMT
recorded_with: VCR 6.0.0
