---
http_interactions:
- request:
    method: post
    uri: https://api-testnet.dock.io/dids
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '188'
      etag:
      - W/"ef-B+onilU0JPxPLEckiJOuSDwmu1w"
    body:
      encoding: UTF-8
      string: '{"id":"2275","data":{"did":"did:dock:5GNvbfbVQzZf25hCaAZEdm1tKArpb56F3Sb6suG9nzGLjGG8","hexDid":"0xbed63e04275abac9ea9ac963d4715c67cf081cea6429e5100fe3b5f7267a8c32","controller":"did:dock:5GNvbfbVQzZf25hCaAZEdm1tKArpb56F3Sb6suG9nzGLjGG8"}}'
  recorded_at: Mon, 10 Jan 2022 08:32:59 GMT
- request:
    method: post
    uri: https://api-testnet.dock.io/credentials
    body:
      encoding: UTF-8
      string: '{"persist":false,"anchor":true,"credential":{"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","context":["https://www.w3.org/2018/credentials/examples/v1"],"type":["UniversityDegreeCredential"],"subject":{"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","degree":{"type":"BachelorDegree","name":"Bachelor
        of Science and Arts"}},"issuer":"did:dock:5GNvbfbVQzZf25hCaAZEdm1tKArpb56F3Sb6suG9nzGLjGG8","issuanceDate":"2020-08-24T14:15:22Z"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '187'
      etag:
      - W/"31d-fgWGyMVlv2mIWrPFT250X/3l18c"
    body:
      encoding: UTF-8
      string: '{"@context":["https://www.w3.org/2018/credentials/v1","https://www.w3.org/2018/credentials/examples/v1"],"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","type":["VerifiableCredential","UniversityDegreeCredential"],"credentialSubject":{"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","degree":{"type":"BachelorDegree","name":"Bachelor
        of Science and Arts"}},"issuanceDate":"2020-08-24T14:15:22Z","proof":{"type":"Sr25519Signature2020","created":"2022-01-10T08:32:59Z","verificationMethod":"did:dock:5GNvbfbVQzZf25hCaAZEdm1tKArpb56F3Sb6suG9nzGLjGG8#keys-1","proofPurpose":"assertionMethod","proofValue":"z51Ca9yGjWJMWda88qu1J7SuivcQngwmRb94LeUvymoaEk5P5Ehk3S9piGaPe8a5gcs6P7VqFpYSTvTyL8hQtocBW"},"issuer":"did:dock:5GNvbfbVQzZf25hCaAZEdm1tKArpb56F3Sb6suG9nzGLjGG8"}'
  recorded_at: Mon, 10 Jan 2022 08:32:59 GMT
- request:
    method: post
    uri: https://api-testnet.dock.io/verify
    body:
      encoding: UTF-8
      string: '{"@context":["https://www.w3.org/2018/credentials/v1","https://www.w3.org/2018/credentials/examples/v1"],"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","type":["VerifiableCredential","UniversityDegreeCredential"],"credentialSubject":{"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","degree":{"type":"BachelorDegree","name":"Bachelor
        of Science and Arts"}},"issuanceDate":"2020-08-24T14:15:22Z","proof":{"type":"Sr25519Signature2020","created":"2022-01-10T08:32:59Z","verificationMethod":"did:dock:5GNvbfbVQzZf25hCaAZEdm1tKArpb56F3Sb6suG9nzGLjGG8#keys-1","proofPurpose":"assertionMethod","proofValue":"z51Ca9yGjWJMWda88qu1J7SuivcQngwmRb94LeUvymoaEk5P5Ehk3S9piGaPe8a5gcs6P7VqFpYSTvTyL8hQtocBW"},"issuer":"did:dock:5GNvbfbVQzZf25hCaAZEdm1tKArpb56F3Sb6suG9nzGLjGG8"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '186'
      etag:
      - W/"22f-m/0AIKt3RUfqGEP1RyBTWZiJHbA"
    body:
      encoding: UTF-8
      string: '{"verified":false,"results":[{"proof":{"@context":["https://www.w3.org/2018/credentials/v1","https://www.w3.org/2018/credentials/examples/v1"],"type":"Sr25519Signature2020","created":"2022-01-10T08:32:59Z","verificationMethod":"did:dock:5GNvbfbVQzZf25hCaAZEdm1tKArpb56F3Sb6suG9nzGLjGG8#keys-1","proofPurpose":"assertionMethod","proofValue":"z51Ca9yGjWJMWda88qu1J7SuivcQngwmRb94LeUvymoaEk5P5Ehk3S9piGaPe8a5gcs6P7VqFpYSTvTyL8hQtocBW"},"verified":false,"error":"DID
        (dock:did:0xbed63e04275abac9ea9ac963d4715c67cf081cea6429e5100fe3b5f7267a8c32)
        does not exist"}]}'
  recorded_at: Mon, 10 Jan 2022 08:32:59 GMT
recorded_with: VCR 6.0.0
