---
http_interactions:
- request:
    method: post
    uri: https://api-testnet.dock.io/dids
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '188'
      etag:
      - W/"ef-0IMWyQRHpSCqp0eZRmRN0ryOVOA"
    body:
      encoding: UTF-8
      string: '{"id":"1954","data":{"did":"did:dock:5GJYs5X9P1WqKiuiJFP3JbfidhUS6sLJtioAsprsvfoFdMpw","hexDid":"0xbb8018b8af448268ec61b387860814cf733fbeba5b7a83acb3392e8127c9d687","controller":"did:dock:5GJYs5X9P1WqKiuiJFP3JbfidhUS6sLJtioAsprsvfoFdMpw"}}'
  recorded_at: Tue, 04 Jan 2022 11:54:19 GMT
- request:
    method: post
    uri: https://api-testnet.dock.io/credentials
    body:
      encoding: UTF-8
      string: '{"persist":false,"anchor":true,"credential":{"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","context":["https://www.w3.org/2018/credentials/examples/v1"],"type":["UniversityDegreeCredential"],"subject":{"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","degree":{"type":"BachelorDegree","name":"Bachelor
        of Science and Arts"}},"issuer":"did:dock:5GJYs5X9P1WqKiuiJFP3JbfidhUS6sLJtioAsprsvfoFdMpw","issuanceDate":"2020-08-24T14:15:22Z"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '187'
      etag:
      - W/"31d-kRSmgMqFJeIg9Pz1rbMmniV1VVA"
    body:
      encoding: UTF-8
      string: '{"@context":["https://www.w3.org/2018/credentials/v1","https://www.w3.org/2018/credentials/examples/v1"],"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","type":["VerifiableCredential","UniversityDegreeCredential"],"credentialSubject":{"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","degree":{"type":"BachelorDegree","name":"Bachelor
        of Science and Arts"}},"issuanceDate":"2020-08-24T14:15:22Z","proof":{"type":"Sr25519Signature2020","created":"2022-01-04T11:54:19Z","verificationMethod":"did:dock:5GJYs5X9P1WqKiuiJFP3JbfidhUS6sLJtioAsprsvfoFdMpw#keys-1","proofPurpose":"assertionMethod","proofValue":"z4ZhsxcQMLCkcW9n94bn5svfp7WSwEP1WnPHShoBNVjiLCiTWPRLZtPwj5uXhXRctb8btQCNfuEipWjmCGRkBHoeo"},"issuer":"did:dock:5GJYs5X9P1WqKiuiJFP3JbfidhUS6sLJtioAsprsvfoFdMpw"}'
  recorded_at: Tue, 04 Jan 2022 11:54:19 GMT
- request:
    method: post
    uri: https://api-testnet.dock.io/verify
    body:
      encoding: UTF-8
      string: '{"@context":["https://www.w3.org/2018/credentials/v1","https://www.w3.org/2018/credentials/examples/v1"],"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","type":["VerifiableCredential","UniversityDegreeCredential"],"credentialSubject":{"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","degree":{"type":"BachelorDegree","name":"Bachelor
        of Science and Arts"}},"issuanceDate":"2020-08-24T14:15:22Z","proof":{"type":"Sr25519Signature2020","created":"2022-01-04T11:54:19Z","verificationMethod":"did:dock:5GJYs5X9P1WqKiuiJFP3JbfidhUS6sLJtioAsprsvfoFdMpw#keys-1","proofPurpose":"assertionMethod","proofValue":"z4ZhsxcQMLCkcW9n94bn5svfp7WSwEP1WnPHShoBNVjiLCiTWPRLZtPwj5uXhXRctb8btQCNfuEipWjmCGRkBHoeo"},"issuer":"did:dock:5GJYs5X9P1WqKiuiJFP3JbfidhUS6sLJtioAsprsvfoFdMpw"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '186'
      etag:
      - W/"22f-vtQfh1vOkKYgzRf+eE1u7FezcFE"
    body:
      encoding: UTF-8
      string: '{"verified":false,"results":[{"proof":{"@context":["https://www.w3.org/2018/credentials/v1","https://www.w3.org/2018/credentials/examples/v1"],"type":"Sr25519Signature2020","created":"2022-01-04T11:54:19Z","verificationMethod":"did:dock:5GJYs5X9P1WqKiuiJFP3JbfidhUS6sLJtioAsprsvfoFdMpw#keys-1","proofPurpose":"assertionMethod","proofValue":"z4ZhsxcQMLCkcW9n94bn5svfp7WSwEP1WnPHShoBNVjiLCiTWPRLZtPwj5uXhXRctb8btQCNfuEipWjmCGRkBHoeo"},"verified":false,"error":"DID
        (dock:did:0xbb8018b8af448268ec61b387860814cf733fbeba5b7a83acb3392e8127c9d687)
        does not exist"}]}'
  recorded_at: Tue, 04 Jan 2022 11:54:19 GMT
recorded_with: VCR 6.0.0
