---
http_interactions:
- request:
    method: post
    uri: https://api-testnet.dock.io/registries/ac4ebcb0017694acebfa8748e2e40de8dd9c5d3a23f7b17ba7418e793ef261d7
    body:
      encoding: UTF-8
      string: '{"action":"revoke","credentialIds":["did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '192'
      etag:
      - W/"69-f4H2ygO/rfSWvS/mlLz57g6mvbQ"
    body:
      encoding: UTF-8
      string: '{"id":"1824","data":{"revokeIds":["0x1177e6719ccb5fa4e4def4a7c7e574ebeb76bc91e55e926afc743b8b77eaf26f"]}}'
  recorded_at: Tue, 04 Jan 2022 08:47:55 GMT
[...]
- request:
    method: post
    uri: https://api-testnet.dock.io/dids
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '194'
      etag:
      - W/"ef-ek8aXxDZ0TLGrsE+J/tnPbHcQdA"
    body:
      encoding: UTF-8
      string: '{"id":"2261","data":{"did":"did:dock:5GfSe1kVzypjjqRd3mxPuXgzwzbu8wH7ReZHTRg5ViNjb1vh","hexDid":"0xcb6f4b41b515ace4a42febf0353a5c57bea4d951c423a0ecffdf6264e7edba60","controller":"did:dock:5GfSe1kVzypjjqRd3mxPuXgzwzbu8wH7ReZHTRg5ViNjb1vh"}}'
  recorded_at: Mon, 10 Jan 2022 08:12:21 GMT
- request:
    method: post
    uri: https://api-testnet.dock.io/credentials
    body:
      encoding: UTF-8
      string: '{"persist":false,"anchor":true,"credential":{"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","context":["https://www.w3.org/2018/credentials/examples/v1"],"type":["UniversityDegreeCredential"],"subject":{"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","degree":{"type":"BachelorDegree","name":"Bachelor
        of Science and Arts"}},"issuer":"did:dock:5GfSe1kVzypjjqRd3mxPuXgzwzbu8wH7ReZHTRg5ViNjb1vh","issuanceDate":"2020-08-24T14:15:22Z"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '193'
      etag:
      - W/"31d-uj+pQNYH4gQc/5SAiujatqlqXPA"
    body:
      encoding: UTF-8
      string: '{"@context":["https://www.w3.org/2018/credentials/v1","https://www.w3.org/2018/credentials/examples/v1"],"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","type":["VerifiableCredential","UniversityDegreeCredential"],"credentialSubject":{"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","degree":{"type":"BachelorDegree","name":"Bachelor
        of Science and Arts"}},"issuanceDate":"2020-08-24T14:15:22Z","proof":{"type":"Sr25519Signature2020","created":"2022-01-10T08:12:21Z","verificationMethod":"did:dock:5GfSe1kVzypjjqRd3mxPuXgzwzbu8wH7ReZHTRg5ViNjb1vh#keys-1","proofPurpose":"assertionMethod","proofValue":"z35eZhhyWJihVDQFy8SZjemv48mWiv4jk2R6G1ZndZB47qR6MLvcKYEXyfpb8WYGtoQ3DyrwzS34fwuWeiG4Zo7Bc"},"issuer":"did:dock:5GfSe1kVzypjjqRd3mxPuXgzwzbu8wH7ReZHTRg5ViNjb1vh"}'
  recorded_at: Mon, 10 Jan 2022 08:12:21 GMT
- request:
    method: post
    uri: https://api-testnet.dock.io/registries/b1bcce7dcf53a23f35b12520ceba2da80903ca837c56d5157c02ea10de6f248b
    body:
      encoding: UTF-8
      string: '{"action":"revoke","credentialIds":["did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '192'
      etag:
      - W/"69-u+B11FVqdaEn/tzGERonRy6wbMk"
    body:
      encoding: UTF-8
      string: '{"id":"2263","data":{"revokeIds":["0x1177e6719ccb5fa4e4def4a7c7e574ebeb76bc91e55e926afc743b8b77eaf26f"]}}'
  recorded_at: Mon, 10 Jan 2022 08:12:22 GMT
recorded_with: VCR 6.0.0
