---
http_interactions:
- request:
    method: post
    uri: https://api-testnet.dock.io/dids
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '188'
      etag:
      - W/"ef-21GLChdXcQs/J/zKiBkGMUqkBvs"
    body:
      encoding: UTF-8
      string: '{"id":"2250","data":{"did":"did:dock:5CjRpcJhqS1cryAoGmgtjcA9o4jQvzhjrsH4fuoRyKSXW9Fy","hexDid":"0x1d889727e0f84beb92c6a73c2900151a575a1c4ed977071c57b5723531ab4c85","controller":"did:dock:5CjRpcJhqS1cryAoGmgtjcA9o4jQvzhjrsH4fuoRyKSXW9Fy"}}'
  recorded_at: Mon, 10 Jan 2022 07:52:41 GMT
- request:
    method: post
    uri: https://api-testnet.dock.io/credentials
    body:
      encoding: UTF-8
      string: '{"persist":false,"anchor":true,"credential":{"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","context":["https://www.w3.org/2018/credentials/examples/v1"],"type":["UniversityDegreeCredential"],"subject":{"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","degree":{"type":"BachelorDegree","name":"Bachelor
        of Science and Arts"}},"issuer":"did:dock:5CjRpcJhqS1cryAoGmgtjcA9o4jQvzhjrsH4fuoRyKSXW9Fy","issuanceDate":"2020-08-24T14:15:22Z"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '187'
      etag:
      - W/"31d-i5o/knwSGUzwGs6gl8e6i3C2QdY"
    body:
      encoding: UTF-8
      string: '{"@context":["https://www.w3.org/2018/credentials/v1","https://www.w3.org/2018/credentials/examples/v1"],"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","type":["VerifiableCredential","UniversityDegreeCredential"],"credentialSubject":{"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","degree":{"type":"BachelorDegree","name":"Bachelor
        of Science and Arts"}},"issuanceDate":"2020-08-24T14:15:22Z","proof":{"type":"Sr25519Signature2020","created":"2022-01-10T07:52:41Z","verificationMethod":"did:dock:5CjRpcJhqS1cryAoGmgtjcA9o4jQvzhjrsH4fuoRyKSXW9Fy#keys-1","proofPurpose":"assertionMethod","proofValue":"z3xqsCV5RarGxYRcrqYerAduDTNeipgTRL3hPp2VnUCjPRHD1bNJdniKR1RRLe1GkL6DAPGLoX7GzWEfES6jY5tpk"},"issuer":"did:dock:5CjRpcJhqS1cryAoGmgtjcA9o4jQvzhjrsH4fuoRyKSXW9Fy"}'
  recorded_at: Mon, 10 Jan 2022 07:52:41 GMT
- request:
    method: delete
    uri: https://api-testnet.dock.io/credentials/did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '186'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 10 Jan 2022 07:52:41 GMT
recorded_with: VCR 6.0.0
