---
http_interactions:
- request:
    method: post
    uri: https://api-testnet.dock.io/dids
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '190'
      etag:
      - W/"ef-QGM1vGprxO+T8M7HOJXUvHWGG0Q"
    body:
      encoding: UTF-8
      string: '{"id":"1932","data":{"did":"did:dock:5GZxGBKBLbYM6iiNYnjFbECnqDWpWZkVTxTPDytC4T5BNVjh","hexDid":"0xc73f8b121a1ea32310c6b4244619cbf3f8f15d873559965b5843850ac05b4f7c","controller":"did:dock:5GZxGBKBLbYM6iiNYnjFbECnqDWpWZkVTxTPDytC4T5BNVjh"}}'
  recorded_at: Tue, 04 Jan 2022 11:13:58 GMT
- request:
    method: post
    uri: https://api-testnet.dock.io/credentials
    body:
      encoding: UTF-8
      string: '{"persist":false,"anchor":true,"credential":{"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","context":["https://www.w3.org/2018/credentials/examples/v1"],"type":["UniversityDegreeCredential"],"subject":{"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","degree":{"type":"BachelorDegree","name":"Bachelor
        of Science and Arts"}},"issuer":"did:dock:5GZxGBKBLbYM6iiNYnjFbECnqDWpWZkVTxTPDytC4T5BNVjh","issuanceDate":"2020-08-24T14:15:22Z"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '189'
      etag:
      - W/"31d-08c5mKuzF9Ka7T45zo3CSHPwAGk"
    body:
      encoding: UTF-8
      string: '{"@context":["https://www.w3.org/2018/credentials/v1","https://www.w3.org/2018/credentials/examples/v1"],"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","type":["VerifiableCredential","UniversityDegreeCredential"],"credentialSubject":{"id":"did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA","degree":{"type":"BachelorDegree","name":"Bachelor
        of Science and Arts"}},"issuanceDate":"2020-08-24T14:15:22Z","proof":{"type":"Sr25519Signature2020","created":"2022-01-04T11:13:59Z","verificationMethod":"did:dock:5GZxGBKBLbYM6iiNYnjFbECnqDWpWZkVTxTPDytC4T5BNVjh#keys-1","proofPurpose":"assertionMethod","proofValue":"z2LMPqExrxB9CLVa4UL1Us8siP45f6PXZFp7FJv9Hap3s32x8NoDhLWqjdD9wgQxdHdiUfhhbgcFBVguZjaomZ6zo"},"issuer":"did:dock:5GZxGBKBLbYM6iiNYnjFbECnqDWpWZkVTxTPDytC4T5BNVjh"}'
  recorded_at: Tue, 04 Jan 2022 11:13:59 GMT
- request:
    method: delete
    uri: https://api-testnet.dock.io/credentials/did:dock:5CDsD8HZa6TeSfgmMcxAkbSXYWeob4jFQmtU6sxr4XWTZzUA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - PLACEHOLDER_AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '188'
      etag:
      - W/"10-oV4hJxRVSENxc/wX8+mA4/Pe4tA"
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Tue, 04 Jan 2022 11:13:59 GMT
recorded_with: VCR 6.0.0
